<nav
  class="navbar navbar-expand-lg navbar-dark custom-navbar-bg shadow-lg p-4 mb-5"
>
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" [routerLink]="['/']">
      <img
        src="../../../assets/logo.png"
        width="80"
        height="50"
        alt="ARES Control"
        id="logo"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/home']"
            routerLinkActive="active"
          >
            Início
          </a>
        </li>

        <li class="nav-item" *ngIf="loginService.isLoggedIn()">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
          >
            Clientes
          </a>
        </li>
        <li class="nav-item" *ngIf="loginService.isLoggedIn()">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
          >
            Adicionar Clientes
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/address']"
            routerLinkActive="active"
          >
            Endereços
          </a>
        </li>
      </ul>

      <div class="d-flex" *ngIf="loginService.isLoggedIn()">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-center user-name"
            type="button"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ initialOfName() }}
          </button>

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li>
              <h6 class="dropdown-header">Logado como:{{ name }}</h6>
            </li>
            <li><hr class="dropdown-divider" /></li>

            <li><a class="dropdown-item" href="#">Perfil</a></li>

            <li>
              <button class="dropdown-item text-danger" (click)="onLogout()">
                <i class="bi bi-box-arrow-right me-2"></i> Sair
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
